@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --Primary-Blue-Color: #2072E4;
  --Primary-Red-Color: #D81E05;
}

.custom-navbar {
  background-color: #F1F3F7 !important;
}
#headerLogo {
  height: 75px;
}

p, a, h1, h2, h3, h4, h5, li, span {
  font-family: 'Poppins', sans-serif;
}
#profileImage {
  height: 33px;
  border-radius: 100%;
  width: 33px;
}
#ProfileNameheader {
  color: #000;
}
img {
  width:100%;
}
#navbarNav ul li a {
  text-align: center;
}
.NavigationContainerMain {
  justify-content: center;
  gap: 13px;
}

.gradient-button {
  background: radial-gradient(circle, #8eda8e 0%, #4caf50 100%);
  color: #333;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gradient-button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
#resultelement {
  flex: 0 0 50% !important;
}
